<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vantu1203-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5197.site4now.net:8172/msdeploy.axd?site=vantu1203-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>vantu1203-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>vantu1203-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DVCPContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5105.site4now.net;Initial Catalog=db_aa7f9f_vantu;User ID=db_aa7f9f_vantu_admin;Password=Tuhc123456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DVCP.Models.DVCPContext, DVCP" MigrationConfiguration="DVCP.Migrations.Configuration, DVCP" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DVCPContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5105.site4now.net;Initial Catalog=db_aa7f9f_vantu;User ID=db_aa7f9f_vantu_admin;Password=Tuhc123456</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>