
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GioiThieu</h2>

<body>
    <div class="member">
        @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
        <p><strong><u>*Lưu Thị Như Quỳnh</u></strong></p>
        <p><strong>Vai Trò:Nhóm Trưởng, Làm Báo Cáo</strong> </p>
        <p><strong>Thông tin chi tiết:</strong> </p>
    </div>
    <div class="member">
        @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
        <p><strong><u>*Trần Văn Tú</u></strong></p>
        <p><strong>Vai Trò:Thiết Kế Web</strong> </p>
        <p><strong>Thông tin chi tiết:</strong> </p>
    </div>
    <div class="member">
        @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
        <p><strong><u>*Lê Xuân Tiến Lực</u></strong></p>
        <p><strong>Vai Trò:Thiết Kế Web</strong> </p>
        <p><strong>Thông tin chi tiết:</strong> </p>
    </div>
    <div class="member">
        @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
        <p><strong><u>*Võ Tấn Vũ</u></strong></p>
        <p><strong>Vai Trò:Thiết Kế Web</strong> </p>
        <p><strong>Thông tin chi tiết:</strong> </p>
    </div>

    <div class="member">
        @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
        <p><strong><u>*Trương Thanh Vỹ </u></strong></p>
        <p><strong>Vai Trò:Làm Báo Cáo</strong> </p>
        <p><strong>Thông tin chi tiết:</strong> </p>
    </div>
    <div class="member">
        @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
        <p><strong><u>Trương Tiến Thành</u></strong></p>
        <p><strong>Vai Trò:Làm Báo Cáo</strong> </p>
        <p><strong>Thông tin chi tiết:</strong> </p>
    </div>

  
 
</body>