
@{ ViewBag.Title = "ADMIN PANEL";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }


<style>
    /* CSS */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        display: inline-block;
        background-color: #fff;
        border-radius: 10px; /* Độ cong của góc */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    h1 {
        margin: 0;
        text-align: center;
    }
</style>
</head>
<body>
    <div class="container">
        <h2>Đây là Trang Admin của Đại Việt Cổ Phổ</h2>
    </div>
    <h2> Giới Thiệu Thành Viên</h2>
    <body>
        <div class="member">
            @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
            <p><strong><u>*Lưu Thị Như Quỳnh</u></strong></p>
            <p><strong>Vai Trò:Nhóm Trưởng, Làm Báo Cáo</strong> </p>
            <p><strong>Thông tin chi tiết:</strong> </p>
        </div>
        <div class="member">
            @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
            <p><strong><u>*Trần Văn Tú</u></strong></p>
            <p><strong>Vai Trò:Thiết Kế Web</strong> </p>
            <p><strong>Thông tin chi tiết:</strong> </p>
        </div>
        <div class="member">
            @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
            <p><strong><u>*Lê Xuân Tiến Lực</u></strong></p>
            <p><strong>Vai Trò:Thiết Kế Web</strong> </p>
            <p><strong>Thông tin chi tiết:</strong> </p>
        </div>
        <div class="member">
            @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
            <p><strong><u>*Võ Tấn Vũ</u></strong></p>
            <p><strong>Vai Trò:Thiết Kế Web</strong> </p>
            <p><strong>Thông tin chi tiết:</strong> </p>
        </div>

        <div class="member">
            @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
            <p><strong><u>*Trương Thanh Vỹ </u></strong></p>
            <p><strong>Vai Trò:Làm Báo Cáo</strong> </p>
            <p><strong>Thông tin chi tiết:</strong> </p>
        </div>
        <div class="member">
            @*<img src="link_hinh_anh_1" alt="Hình ảnh của Thành Viên 1">*@
            <p><strong><u>Trương Tiến Thành</u></strong></p>
            <p><strong>Vai Trò:Làm Báo Cáo</strong> </p>
            <p><strong>Thông tin chi tiết:</strong> </p>
        </div>

        <!-- Lặp lại phần này cho mỗi thành viên trong nhóm -->

        <script>
                                                // JavaScript
                                                // Bạn có thể thêm JavaScript ở đây nếu cần thiết
        </script>
    </body>
